@font-face {
  font-family: 'pt-regular';
  src: url("fonts/pt/PTS-regular.eot");
  src: url("fonts/pt/PTS-regular.eot?#iefix") format("embedded-opentype"), url("fonts/pt/PTS-regular.woff") format("woff"), url("fonts/pt/PTS-regular.ttf") format("truetype"), url("fonts/pt/PTS-regular.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.grid {
  *zoom: 1;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.accessibility,
.visuallyhidden,
.element-invisible {
  position: absolute !important;
  left: -9999px !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  color: transparent;
  visibility: hidden;
}

.center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #FBFBFB;
  font-family: arial, sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  color: #4F4F4F;
}

a {
  background: transparent;
  text-decoration: none;
}
a:hover, a:active {
  outline: 0;
}
.content--wrapper a {
  display: inline-block;
}

ul, ol {
  padding: 0;
  margin: 0;
}
ul.horizontal-list, ol.horizontal-list {
  position: relative;
  left: -12px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: -12px;
}

li {
  list-style: none;
  display: inline-block;
}
.content--wrapper li {
  display: list-item;
  list-style-type: decimal;
}
.content--wrapper li p {
  margin: 0;
}
.content--wrapper li table p {
  margin-bottom: 24px;
}
.vertical-list li, .horizontal-list li {
  position: relative;
  list-style-type: none;
  padding-left: 24px;
  margin-left: 24px;
}
.vertical-list li input, .horizontal-list li input {
  position: absolute;
  left: 0;
  max-width: 20px;
  top: 50%;
  margin-top: -9px;
}
.vertical-list li label, .horizontal-list li label {
  margin-bottom: 0;
}
.vertical-list li {
  margin-bottom: 24px;
}
.horizontal-list li {
  float: left;
}

p, blockquote, li {
  margin: 0;
}

.content--wrapper p, .content--wrapper blockquote {
  margin-bottom: 24px;
}
@media (max-width: 480px) {
  .content--wrapper p, .content--wrapper blockquote {
    margin-bottom: 24px;
  }
}

.content--wrapper p, .content--wrapper li {
  font-size: 16px;
}

.content--wrapper blockquote p {
  margin: 0;
}

p {
  line-height: 24px;
}
p.bottom-border {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #E9E9E9;
}

.content--wrapper h1, .content--wrapper h2, .content--wrapper h3, .content--wrapper h4, .content--wrapper h5, .content--wrapper h6 {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-family: "pt-regular", arial, helvetica, sans-serif;
}
.content--wrapper h1, .content--wrapper h2, .content--wrapper h3, .content--wrapper h4, .content--wrapper h5, .content--wrapper h6 {
  margin-bottom: 24px;
}

h1, .alpha {
  font-size: 28px;
}

h2, .beta {
  font-size: 24px;
}

h3, .gamma {
  font-size: 22px;
}

h4, .delta {
  font-size: 20px;
}

h5, .epsilon {
  font-size: 19px;
}

h6, .zeta {
  font-size: 18px;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 90%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
nav, section, summary {
  display: block;
}

audio, canvas,
progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

form .row {
  margin-bottom: 24px;
}
form .row:last-child {
  margin-bottom: 0;
}

label {
  display: inline-block;
  width: 100%;
  color: #797979;
  margin-bottom: 12px;
}
label.has--checkbox {
  position: relative;
  padding-left: 25px;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  outline: none;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
  width: 100%;
  border: 1px solid #B7B4B4;
  padding: 12px;
}
input[type="text"] {
  transition: .4s ease;
}
input[type="text"]:focus {
  border-color: #EE5222;
}
input[type="radio"], input[type="checkbox"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
label input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 1px;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="submit"] {
  width: auto;
  text-transform: uppercase;
  border: none;
  padding-top: 9px;
  padding-bottom: 10px;
}
input[type="submit"]:hover {
  background: #EE5222 !important;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

select {
  cursor: pointer;
  padding: 12px;
  height: 46px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: white;
  background-image: url("../images/select-dropdown.png");
  background-size: 46px 46px;
  background-repeat: no-repeat;
  background-position: 101% 0;
  border: 1px solid #E9E9E9;
  transition: .4s ease;
}
select:focus {
  border-color: #EE5222;
}

.search-table-masker {
  position: relative;
  overflow: hidden;
}
.search-table-masker.closed {
  height: 331px;
  box-shadow: 0 2px 0 white, 0 3px 0 #B7B4B4, 0 5px 0 white, 0 6px 0 #B7B4B4, 0 8px 0 white, 0 9px 0 #B7B4B4;
}
.search-table-masker.closed:after, .search-table-masker.closed:before {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  width: 864px;
  height: 4px;
  border: 1px solid #B7B4B4;
}
.search-table-masker.closed:before {
  bottom: -6px;
}
.search-table-masker.closed:after {
  bottom: -12px;
}

table {
  position: relative;
  display: table;
  width: 100%;
  border: 1px solid #B7B4B4;
  border-bottom: none;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead, table td {
  border-bottom: 1px solid #B7B4B4;
}
table thead th {
  background: #E9E9E9;
  font-weight: normal;
}
table th, table td {
  vertical-align: top;
  padding: 18px;
  border-right: 1px solid #B7B4B4;
}
table a {
  color: #EE5222;
  text-decoration: underline;
}

td,
th {
  padding: 0;
  text-align: left;
}

.underline {
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0 auto;
}
.container.small {
  width: 650px;
}

.content--wrapper {
  border: 1px solid #E9E9E9;
  border-top: none;
}

.pad {
  padding: 24px;
}

.pad-half {
  padding: 12px;
}

.pad-top {
  padding-top: 24px;
}

.bottom-space {
  margin-bottom: 24px;
}

.bottom-space-double {
  margin-bottom: 48px !important;
}

.left-space {
  margin-left: 24px;
}

.bottom-space-half {
  margin-bottom: 12px !important;
}

.no-bottom-space {
  margin-bottom: 0 !important;
}

.content--wrapper .block-title {
  color: #4F4F4F;
  font-family: "pt-regular", arial, helvetica, sans-serif;
}

.content--wrapper .bg--black .block-title {
  color: white;
}
.content--wrapper .bg--black p {
  color: white;
}

.align-to-title {
  margin-top: -50px;
}

.site--content {
  border: 1px solid #E9E9E9;
  border-top: none;
}

.site--header {
  position: relative;
}
.site--header .logo-wrapper {
  position: relative;
  padding: 24px 0;
}
.site--header .right {
  position: absolute;
  top: 0 \0/IE89;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.site--header .languages {
  margin-top: -10px;
  margin-bottom: 12px;
}
.site--header .languages img {
  margin-left: 5px;
}

.page-header {
  background-image: url("../images/header-bg.jpg");
  background: #EE5222 \0/IE89;
  background-size: cover;
  background-repeat: none;
}
.page-header .title {
  color: white;
}

.site--nav {
  position: relative;
  background: white;
  border: 1px solid #EE5222;
}
.site--nav .links a {
  display: inline-block;
  padding: 18px 24px;
  color: black;
  transition: .2s ease;
}
.site--nav .links a:hover, .site--nav .links a.active {
  color: #EE5222;
}
.site--nav a[selected="true"] {
  color: #EE5222;
  font-weight:bold;
}
.user-status {
 position: absolute;
  top: 10px;
  right: 10px;
}
.user-status:hover {
  background: #CE4040 !important;
}
.user-status:hover .user {
  color: #CE4040 !important;
}
.user-status .user {
position: absolute;
  top: 0;
  right: 110%;
  color: #4F4F4F;
  font-size: 10px;
  /*width: 140px;*/
}

.site--footer {
  font-size: 12px;
  line-height: 160%;
  color: #797979;
  text-align: center;
}
.site--footer a {
  color: #EE5222;
}
.site--footer a:hover {
  text-decoration: underline;
}

.button {
  font-size: 20px;
  padding: 6px 24px 8px;
  transition: .4s ease;
  font-family: "pt-regular", arial, helvetica, sans-serif;
}
.button.uppercase {
  text-transform: uppercase;
}
.button.small {
  font-size: 16px;
}
.button.bg--orange {
  background: #EE5222;
  color: white;
  cursor:pointer;
}
.button.bg--orange:hover {
  background: #d64a1f;
}
.button.bg--blue {
  background: #005D9E;
  color: white;
}
.button.bg--blue:hover {
  background: #00548e;
}
.button.bg--darker-grey {
  background: #4F4F4F;
  color: white;
}
.button.bg--darker-grey:hover {
  background: #474747;
}
.button[type="submit"] {
  text-transform: none;
}

.button.has-top-text {
  position: relative;
  top: 5px;
}
.button.has-top-text:before {
  position: absolute;
  left: 0;
  bottom: 100%;
  font-size: 10px;
  margin-bottom: 5px;
  color: #797979;
  content: attr(data-top-text);
}

.button.has-bottom-text {
  position: relative;
}
.button.has-bottom-text:after {
  position: absolute;
  right: 0;
  top: 110%;
  font-size: 10px;
  margin-bottom: 5px;
  color: #EE5222;
  content: attr(data-top-text);
}

.notifications-wrapper.hidden .notification {
  display: none;
}

.notification {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  border-bottom: 1px solid #EE5222;
  margin-bottom: 12px;
  padding-left: 20px;
  padding-right:90px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
  font-weight: normal;
  box-shadow: 0 0 10px rgba(238, 82, 34, 0.2);
  transition: .3s ease;
  color: #4F4F4F;
}
.notification:hover {
  box-shadow: 0 0 10px rgba(238, 82, 34, 0.5);
  font-weight: bold;
}
.notification:before {
  position: absolute;
  left: 10px;
  top: 10px;
  /*content: '!';*/
  padding: 1px 8px;
  border-radius: 100%;
  border: 1px solid #EE5222;
  background: white;
  color: #EE5222;
}
.notification .arrow {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  background: #FBFBFB;
  text-transform: uppercase;
  color: #EE5222;
  transition: .2s ease;
}
.notification:hover .arrow {
  background: #EE5222;
  color: white;
}

.hide-notifications {
  cursor: pointer;
  margin-bottom: 12px;
  color: #EE5222;
}

.expandables-wrapper {
  border: 1px solid #E9E9E9;
}
.expandables-wrapper .expandable {
  position: relative;
  list-style-type: none;
  background: #F6F6F6;
}
.expandables-wrapper .expandable:nth-child(odd) {
  background: #F1F1F1;
}
.expandables-wrapper .expandable:last-child .expandable-header {
  border-bottom: none;
}
.expandables-wrapper .expandable-header {
  border-bottom: 1px solid #E9E9E9;
}
.expandables-wrapper .expandable-header .title, .expandables-wrapper .expandable-header .date, .expandables-wrapper .expandable-header .expander {
  display: inline-block;
  padding: 12px;
}
.expandables-wrapper .expandable-header .date {
  color: #B7B4B4;
}
.expandables-wrapper .expander {
  float: right;
  cursor: pointer;
}
.expandables-wrapper table, .expandables-wrapper table * {
  border-color: #E9E9E9;
}
.expandables-wrapper table {
  display: none;
  border-right: none;
  border-left: none;
  border-top: none;
  background: white;
}
.expandables-wrapper table th, .expandables-wrapper table td {
  background: white;
  padding: 12px;
}
.expandables-wrapper table td:last-child {
  border-right: none;
}
.expandables-wrapper .open .expandable-item {
  display: inline-block;
  width: 100%;
}
.expandables-wrapper .open .expandable-item.table {
  display: table;
}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 10%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: #FBFBFB;
  border: 1px solid #B7B4B4;
}
.popup.active {
  display: inline-block;
}
.popup .header {
  text-align: center;
  background: #f6f6f6;
  border-bottom: 1px solid #B7B4B4;
}
.popup .header img {
  vertical-align: bottom;
  width: 250px;
}
.popup .description {
  display: inline-block;
  font-size: 10px;
  line-height: 150%;
  margin-top: 12px;
}
.popup input[type="submit"] {
  text-transform: uppercase;
}

.popup-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background: white;
  background: rgba(255, 255, 255, 0.8);
}


.grid [class*='col-']:last-child {
  margin-right: 0;
}

.col-1-2 {
  float: left;
  width: 47.997%;
}
.col-1-2:nth-child(n) {
  margin-right: 4.003%;
}

.col-1-3 {
  float: left;
  width: 30.66367%;
}
.col-1-3:nth-child(n) {
  margin-right: 4.003%;
}

.col-1-4 {
  float: left;
  width: 21.997%;
}
.col-1-4:nth-child(n) {
  margin-right: 4.003%;
}

.col-2-3 {
  float: left;
  width: 65.33033%;
}
.col-2-3:nth-child(n) {
  margin-right: 4.003%;
}

.col-1-5 {
  float: left;
  width: 18.397%;
}
.col-1-5:nth-child(n) {
  margin-right: 2.003%;
}

.col-3-5 {
  float: left;
  width: 59.07484%;
}
.col-3-5:nth-child(n) {
  margin-right: 2.003%;
}

.col-2-5 {
  float: left;
  width: 37.22777%;
}
.col-2-5:nth-child(n) {
  margin-right: 2.003%;
}

.col-1-7 {
  float: left;
  width: 12.56843%;
}
.col-1-7:nth-child(n) {
  margin-right: 2.003%;
}

.col-3-7 {
  float: left;
  width: 41.71753%;
}
.col-3-7:nth-child(n) {
  margin-right: 2.003%;
}

.col-4-7 {
  float: left;
  width: 56.27605%;
}
.col-4-7:nth-child(n) {
  margin-right: 2.003%;
}

.col-1-8 {
  float: left;
  width: 10.747%;
}
.col-1-8:nth-child(n) {
  margin-right: 2.003%;
}

.col-2-8 {
  float: left;
  width: 23.497%;
}
.col-2-8:nth-child(n) {
  margin-right: 2.003%;
}

.col-5-8 {
  float: left;
  width: 61.62769%;
}
.col-5-8:nth-child(n) {
  margin-right: 2.003%;
}

.col-3-8 {
  float: left;
  width: 36.25656%;
}
.col-3-8:nth-child(n) {
  margin-right: 2.003%;
}

.tx--center {
  text-align: center;
}

.tx--right {
  text-align: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.bg--white {
  background: white;
}

.bg--light-grey {
  background: #FBFBFB;
}

.bg--black {
  background: #303030;
}

.tx--med-dark-grey {
  color: #B7B4B4;
}

.tx--orange {
  color: #EE5222;
  padding-right:5px;
}

.signup {
  position: relative;
}
.signup .privacy {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #797979;
  text-decoration: underline;
}

td.version {
  width: 70px;
}
td.status {
  width: 200px;
}
td.files {
  width: 350px;
}
.rememberme {

  width: 100%;
  color: #797979;

}


#divpwtrouble{
    position: absolute;
    top: 200px;
    opacity: 1;
    z-index: 1000;
    height: 380px;
    border: 1px solid black;
    width: 480px;
    background: #ffffff;
    left: -20px;
    display:none;

}
.loginoptions {
    padding-left: 14px;
    padding-right: 24px;
    font-size: 95%;
}
.loginoptions ul{
    margin-left:18px;
    margin-top:4px;
}
.loginoptions ul li{
    list-style:disc !important;
    font-size:inherit;
    padding-top:4px;
    font-size:13px;
}